@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-UfQMi4l81sYF_font-family: "Inter", sans-serif;
  --mixin-UfQMi4l81sYF_font-size: 16px;
  --mixin-UfQMi4l81sYF_font-weight: 400;
  --mixin-UfQMi4l81sYF_font-style: normal;
  --mixin-UfQMi4l81sYF_text-align: left;
  --mixin-UfQMi4l81sYF_text-transform: none;
  --mixin-UfQMi4l81sYF_line-height: 1.5;
  --mixin-UfQMi4l81sYF_letter-spacing: normal;
  --mixin-UfQMi4l81sYF_white-space: pre-wrap;
  --mixin-UfQMi4l81sYF_user-select: text;
  --mixin-UfQMi4l81sYF_text-decoration-line: none;
  --mixin-UfQMi4l81sYF_text-overflow: clip;
  --mixin-UfQMi4l81sYF_color: #000000;
  --mixin-cW1U4ysUiQbB_font-weight: 700;
  --mixin-cW1U4ysUiQbB_font-size: 64px;
  --mixin-cW1U4ysUiQbB_line-height: 1;
  --mixin-cW1U4ysUiQbB_letter-spacing: -1px;
  --mixin-cW1U4ysUiQbB_white-space: pre-wrap;
  --mixin-R2eSWI86Mid7_font-size: 48px;
  --mixin-R2eSWI86Mid7_font-weight: 700;
  --mixin-R2eSWI86Mid7_letter-spacing: -0.5px;
  --mixin-R2eSWI86Mid7_line-height: 1.1;
  --mixin-R2eSWI86Mid7_white-space: pre-wrap;
  --mixin-XyHk17o42z5p_color: #0070f3;
  --mixin-XyHk17o42z5p_white-space: pre-wrap;
  --mixin-7Lf_x48KXhky_font-size: 32px;
  --mixin-7Lf_x48KXhky_font-weight: 600;
  --mixin-7Lf_x48KXhky_line-height: 1.2;
  --mixin-7Lf_x48KXhky_white-space: pre-wrap;
  --mixin-FNduLQFhjIXE_font-size: 24px;
  --mixin-FNduLQFhjIXE_font-weight: 600;
  --mixin-FNduLQFhjIXE_line-height: 1.3;
  --mixin-FNduLQFhjIXE_white-space: pre-wrap;
  --mixin-37p0COIk5ea3_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-37p0COIk5ea3_border-bottom-color: #dddddd;
  --mixin-37p0COIk5ea3_border-bottom-style: solid;
  --mixin-37p0COIk5ea3_border-bottom-width: 1px;
  --mixin-37p0COIk5ea3_border-left-color: #dddddd;
  --mixin-37p0COIk5ea3_border-left-style: solid;
  --mixin-37p0COIk5ea3_border-left-width: 1px;
  --mixin-37p0COIk5ea3_border-right-color: #dddddd;
  --mixin-37p0COIk5ea3_border-right-style: solid;
  --mixin-37p0COIk5ea3_border-right-width: 1px;
  --mixin-37p0COIk5ea3_border-top-color: #dddddd;
  --mixin-37p0COIk5ea3_border-top-style: solid;
  --mixin-37p0COIk5ea3_border-top-width: 1px;
  --mixin-37p0COIk5ea3_border-bottom-left-radius: 3px;
  --mixin-37p0COIk5ea3_border-bottom-right-radius: 3px;
  --mixin-37p0COIk5ea3_border-top-left-radius: 3px;
  --mixin-37p0COIk5ea3_border-top-right-radius: 3px;
  --mixin-37p0COIk5ea3_font-family: "Inconsolata";
  --mixin-37p0COIk5ea3_padding-bottom: 1px;
  --mixin-37p0COIk5ea3_padding-left: 4px;
  --mixin-37p0COIk5ea3_padding-right: 4px;
  --mixin-37p0COIk5ea3_padding-top: 1px;
  --mixin-37p0COIk5ea3_white-space: pre-wrap;
  --mixin-aD4eHCaw8lDs_border-left-color: #dddddd;
  --mixin-aD4eHCaw8lDs_border-left-style: solid;
  --mixin-aD4eHCaw8lDs_border-left-width: 3px;
  --mixin-aD4eHCaw8lDs_color: #888888;
  --mixin-aD4eHCaw8lDs_padding-left: 10px;
  --mixin-aD4eHCaw8lDs_white-space: pre-wrap;
  --mixin-XKUKpjrl87Su_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-XKUKpjrl87Su_border-bottom-color: #dddddd;
  --mixin-XKUKpjrl87Su_border-bottom-style: solid;
  --mixin-XKUKpjrl87Su_border-bottom-width: 1px;
  --mixin-XKUKpjrl87Su_border-left-color: #dddddd;
  --mixin-XKUKpjrl87Su_border-left-style: solid;
  --mixin-XKUKpjrl87Su_border-left-width: 1px;
  --mixin-XKUKpjrl87Su_border-right-color: #dddddd;
  --mixin-XKUKpjrl87Su_border-right-style: solid;
  --mixin-XKUKpjrl87Su_border-right-width: 1px;
  --mixin-XKUKpjrl87Su_border-top-color: #dddddd;
  --mixin-XKUKpjrl87Su_border-top-style: solid;
  --mixin-XKUKpjrl87Su_border-top-width: 1px;
  --mixin-XKUKpjrl87Su_border-bottom-left-radius: 3px;
  --mixin-XKUKpjrl87Su_border-bottom-right-radius: 3px;
  --mixin-XKUKpjrl87Su_border-top-left-radius: 3px;
  --mixin-XKUKpjrl87Su_border-top-right-radius: 3px;
  --mixin-XKUKpjrl87Su_font-family: "Inconsolata";
  --mixin-XKUKpjrl87Su_padding-bottom: 3px;
  --mixin-XKUKpjrl87Su_padding-left: 6px;
  --mixin-XKUKpjrl87Su_padding-right: 6px;
  --mixin-XKUKpjrl87Su_padding-top: 3px;
  --mixin-XKUKpjrl87Su_white-space: pre-wrap;
  --mixin-g8ySemfFGYQa_display: flex;
  --mixin-g8ySemfFGYQa_flex-direction: column;
  --mixin-g8ySemfFGYQa_align-items: stretch;
  --mixin-g8ySemfFGYQa_justify-content: flex-start;
  --mixin-g8ySemfFGYQa_list-style-position: outside;
  --mixin-g8ySemfFGYQa_padding-left: 40px;
  --mixin-g8ySemfFGYQa_position: relative;
  --mixin-g8ySemfFGYQa_list-style-type: disc;
  --mixin-g8ySemfFGYQa_white-space: pre-wrap;
  --mixin-cLfa7LDkYHMj_display: flex;
  --mixin-cLfa7LDkYHMj_flex-direction: column;
  --mixin-cLfa7LDkYHMj_align-items: stretch;
  --mixin-cLfa7LDkYHMj_justify-content: flex-start;
  --mixin-cLfa7LDkYHMj_list-style-position: outside;
  --mixin-cLfa7LDkYHMj_padding-left: 40px;
  --mixin-cLfa7LDkYHMj_position: relative;
  --mixin-cLfa7LDkYHMj_list-style-type: decimal;
  --mixin-cLfa7LDkYHMj_white-space: pre-wrap;
  --mixin-ZB7hNURQlLzZ_font-size: 20px;
  --mixin-ZB7hNURQlLzZ_font-weight: 600;
  --mixin-ZB7hNURQlLzZ_line-height: 1.5;
  --mixin-ZB7hNURQlLzZ_white-space: pre-wrap;
  --mixin-9YabVTWp_5wU_font-size: 16px;
  --mixin-9YabVTWp_5wU_font-weight: 600;
  --mixin-9YabVTWp_5wU_line-height: 1.5;
  --mixin-9YabVTWp_5wU_white-space: pre-wrap;
  --mixin-Z9IAzTOq-q4G_color: #3291ff;
  --mixin-Z9IAzTOq-q4G_white-space: pre-wrap;
  --mixin-QWac1FHzmwwh_white-space: pre-wrap;
  --mixin-f_UOHQKcutkb_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.i) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text i) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.em) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text em) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.strong) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text strong) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-UfQMi4l81sYF_font-family);
  font-size: var(--mixin-UfQMi4l81sYF_font-size);
  font-weight: var(--mixin-UfQMi4l81sYF_font-weight);
  font-style: var(--mixin-UfQMi4l81sYF_font-style);
  color: var(--mixin-UfQMi4l81sYF_color);
  text-align: var(--mixin-UfQMi4l81sYF_text-align);
  text-transform: var(--mixin-UfQMi4l81sYF_text-transform);
  line-height: var(--mixin-UfQMi4l81sYF_line-height);
  letter-spacing: var(--mixin-UfQMi4l81sYF_letter-spacing);
  white-space: var(--mixin-UfQMi4l81sYF_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-weight: var(--mixin-cW1U4ysUiQbB_font-weight);
  font-size: var(--mixin-cW1U4ysUiQbB_font-size);
  line-height: var(--mixin-cW1U4ysUiQbB_line-height);
  letter-spacing: var(--mixin-cW1U4ysUiQbB_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  font-size: var(--mixin-R2eSWI86Mid7_font-size);
  font-weight: var(--mixin-R2eSWI86Mid7_font-weight);
  letter-spacing: var(--mixin-R2eSWI86Mid7_letter-spacing);
  line-height: var(--mixin-R2eSWI86Mid7_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-XyHk17o42z5p_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-size: var(--mixin-7Lf_x48KXhky_font-size);
  font-weight: var(--mixin-7Lf_x48KXhky_font-weight);
  line-height: var(--mixin-7Lf_x48KXhky_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-size: var(--mixin-FNduLQFhjIXE_font-size);
  font-weight: var(--mixin-FNduLQFhjIXE_font-weight);
  line-height: var(--mixin-FNduLQFhjIXE_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-37p0COIk5ea3_font-family);
  border-radius: var(--mixin-37p0COIk5ea3_border-top-left-radius)
    var(--mixin-37p0COIk5ea3_border-top-right-radius)
    var(--mixin-37p0COIk5ea3_border-bottom-right-radius)
    var(--mixin-37p0COIk5ea3_border-bottom-left-radius);
  padding: var(--mixin-37p0COIk5ea3_padding-top)
    var(--mixin-37p0COIk5ea3_padding-right)
    var(--mixin-37p0COIk5ea3_padding-bottom)
    var(--mixin-37p0COIk5ea3_padding-left);
  border-top: var(--mixin-37p0COIk5ea3_border-top-width)
    var(--mixin-37p0COIk5ea3_border-top-style)
    var(--mixin-37p0COIk5ea3_border-top-color);
  border-right: var(--mixin-37p0COIk5ea3_border-right-width)
    var(--mixin-37p0COIk5ea3_border-right-style)
    var(--mixin-37p0COIk5ea3_border-right-color);
  border-bottom: var(--mixin-37p0COIk5ea3_border-bottom-width)
    var(--mixin-37p0COIk5ea3_border-bottom-style)
    var(--mixin-37p0COIk5ea3_border-bottom-color);
  border-left: var(--mixin-37p0COIk5ea3_border-left-width)
    var(--mixin-37p0COIk5ea3_border-left-style)
    var(--mixin-37p0COIk5ea3_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-aD4eHCaw8lDs_color);
  padding-left: var(--mixin-aD4eHCaw8lDs_padding-left);
  border-left: var(--mixin-aD4eHCaw8lDs_border-left-width)
    var(--mixin-aD4eHCaw8lDs_border-left-style)
    var(--mixin-aD4eHCaw8lDs_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-XKUKpjrl87Su_font-family);
  border-radius: var(--mixin-XKUKpjrl87Su_border-top-left-radius)
    var(--mixin-XKUKpjrl87Su_border-top-right-radius)
    var(--mixin-XKUKpjrl87Su_border-bottom-right-radius)
    var(--mixin-XKUKpjrl87Su_border-bottom-left-radius);
  padding: var(--mixin-XKUKpjrl87Su_padding-top)
    var(--mixin-XKUKpjrl87Su_padding-right)
    var(--mixin-XKUKpjrl87Su_padding-bottom)
    var(--mixin-XKUKpjrl87Su_padding-left);
  border-top: var(--mixin-XKUKpjrl87Su_border-top-width)
    var(--mixin-XKUKpjrl87Su_border-top-style)
    var(--mixin-XKUKpjrl87Su_border-top-color);
  border-right: var(--mixin-XKUKpjrl87Su_border-right-width)
    var(--mixin-XKUKpjrl87Su_border-right-style)
    var(--mixin-XKUKpjrl87Su_border-right-color);
  border-bottom: var(--mixin-XKUKpjrl87Su_border-bottom-width)
    var(--mixin-XKUKpjrl87Su_border-bottom-style)
    var(--mixin-XKUKpjrl87Su_border-bottom-color);
  border-left: var(--mixin-XKUKpjrl87Su_border-left-width)
    var(--mixin-XKUKpjrl87Su_border-left-style)
    var(--mixin-XKUKpjrl87Su_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-g8ySemfFGYQa_display);
  flex-direction: var(--mixin-g8ySemfFGYQa_flex-direction);
  align-items: var(--mixin-g8ySemfFGYQa_align-items);
  justify-content: var(--mixin-g8ySemfFGYQa_justify-content);
  list-style-position: var(--mixin-g8ySemfFGYQa_list-style-position);
  padding-left: var(--mixin-g8ySemfFGYQa_padding-left);
  position: var(--mixin-g8ySemfFGYQa_position);
  list-style-type: var(--mixin-g8ySemfFGYQa_list-style-type);
  column-gap: var(--mixin-g8ySemfFGYQa_column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-cLfa7LDkYHMj_display);
  flex-direction: var(--mixin-cLfa7LDkYHMj_flex-direction);
  align-items: var(--mixin-cLfa7LDkYHMj_align-items);
  justify-content: var(--mixin-cLfa7LDkYHMj_justify-content);
  list-style-position: var(--mixin-cLfa7LDkYHMj_list-style-position);
  padding-left: var(--mixin-cLfa7LDkYHMj_padding-left);
  position: var(--mixin-cLfa7LDkYHMj_position);
  list-style-type: var(--mixin-cLfa7LDkYHMj_list-style-type);
  column-gap: var(--mixin-cLfa7LDkYHMj_column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-size: var(--mixin-ZB7hNURQlLzZ_font-size);
  font-weight: var(--mixin-ZB7hNURQlLzZ_font-weight);
  line-height: var(--mixin-ZB7hNURQlLzZ_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-size: var(--mixin-9YabVTWp_5wU_font-size);
  font-weight: var(--mixin-9YabVTWp_5wU_font-weight);
  line-height: var(--mixin-9YabVTWp_5wU_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-Z9IAzTOq-q4G_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
